{% load staticfiles %}
<html>
<head>
<title>爱你❤我的小宝贝</title>		
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="ACool">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}" type="text/css" media="all">
<!--导库-->	
<script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js" ></script>
<!-- 图片幻灯片效果-->	
<script type="text/javascript" src="{% static 'blog/js/roundabout.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/roundabout_shapes.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/gallery_init.js' %}"></script>
<!-- 下雪--><script type="text/javascript" src="{% static 'blog/js/snowstorm.js' %}"></script>
<!-- 打字机效果-->
<script type="text/javascript" src="{% static 'blog/js/text.js' %}"></script>
<!-- 画爱心-->
<script type="text/javascript" src="{% static 'blog/js/ga.js' %}" async=""></script>
<script type="text/javascript" src="{% static 'blog/js/heart.js' %}"></script>	
<!-- 移动div-->	
<script type="text/javascript" src="{% static 'blog/js/move.js' %}"></script>	
<!-- 显示时间 -->	
<!-- <script type="text/javascript" src="js/time.js"></script>	 -->
<!-- 设置文字跟随鼠标 -->		
<!-- <script type="text/javascript" src="js/makesnake.js"></script> -->
</head>
<body>	
	<script type="text/javascript">
	var x,y;		//鼠标当前在页面上的位置
var step=10;	//字符显示间距，为了好看，step=0则字符显示没有间距
var message="i love you";		//跟随鼠标要显示的字符串
message=message.split("");	//将字符串分割为字符数组

var xpos=new Array()		//存储每个字符的x位置的数组
for (i=0;i<message.length;i++) {
	xpos[i]=-50;
}
var ypos=new Array()		//存储每个字符的y位置的数组
for (i=0;i<message.length;i++) {
	ypos[i]=-50;
}

for (i=0;i<message.length;i++) {  //动态生成显示每个字符span标记,
	//使用span来标记字符，是为了方便使用CSS，并可以自由的绝对定位
	document.write("<span id='span"+i+"' class='spanstyle'>");
	document.write(message[i]);
	document.write("</span>");
}

if (document.layers){
	document.captureEvents(Event.MOUSEMOVE);
}

function handlerMM(e){ //从事件得到鼠标光标在页面上的位置
	e=e||window.event;
	x = (document.layers) ? e.pageX : document.body.scrollLeft+e.clientX-220;
	y = (document.layers) ? e.pageY : document.body.scrollTop+e.clientY-35;
}

function makesnake() {  //重定位每个字符的位置
	if (document.all) { //如果是IE
		for (i=message.length-1; i>=1; i--) {
			xpos[i]=xpos[i-1]+step;  //从尾向头确定字符的位置，每个字符为前一个字符“历史”水平坐标+step间隔，
            //这样随着光标移动事件，就能得到一个动态的波浪状的显示效果
			ypos[i]=ypos[i-1];  //垂直坐标为前一字符的历史“垂直”坐标，后一个字符跟踪前一个字符运动
		}
		xpos[0]=x+step //第一个字符的坐标位置紧跟鼠标光标
		ypos[0]=y
		//上面的算法将保证，如果鼠标光标移动到新位置，则连续调用makenake将会使这些字符一个接一个的移动的新位置
		// 该算法显示字符串就有点象人类的游行队伍一样， 
	
		for (i=0; i<=message.length-1; i++) {
			var thisspan = eval("span"+(i)+".style");  //妙用eval根据字符串得到该字符串表示的对象
			thisspan.posLeft=xpos[i];
			thisspan.posTop=ypos[i];
		}
	}
	else{
		for (i=message.length-1; i>=1; i--) {
			xpos[i]=xpos[i-1]+step;
			ypos[i]=ypos[i-1];
		}
		xpos[0]=x+step;
		ypos[0]=y;
		for (i=0; i<=message.length-1; i++) {
			var thisspan = document.getElementById("span"+i).style;
			thisspan.left=xpos[i];
			thisspan.top=ypos[i];
		}
	}
	var timer=setTimeout("makesnake()",10)  //设置10毫秒的定时器来连续调用makesnake(),时刻刷新显示字符串的位置。
}
document.onmousemove = handlerMM;
		setTimeout(makesnake, 42000);		
	</script>		
	<!--#Header-->	
		<div id="header" style="opacity:0.85">	
		<div id="title">				
		</div>		
		</div>	
	<!-- #myContent -->	
	<div id="myContent">
	</div>	
		<div id="contentToWrite" style="display:none">	
			<br>
			亲爱的小宝贝<br>
			一时间不知道从哪说起,<br>
			真爱来了，我们要好好把握。不管面临多大的压力，<br>
			不管前面的路如何崎岖.不管经历过什么,<br>
			我仍坚信最浪漫的事就是和你一起慢慢变老.<br>
			还记得否,曾经的点点滴滴，从相识到现在，<br>
			从冷漠到关心,从谢绝到依赖，从生疏到相爱,<br>
			无数个平淡的日子同舟共济，相濡以沫.<br>
			相信右下角的计时器,将永远继续下去,直至数据溢出.<br><br>
			--------------------永远爱你的, 房小同学<br>
		</div>		
	<script type="text/javascript">
			writeContent(true);
	</script>
		</div>		
		<!-- #container -->		
	<div id="container"  >	
		<ul id="myRoundabout">		  	
			<li><img src="{% static 'blog/img/slide1.jpg' %}" alt=""></li>	
			<li><img src="{% static 'blog/img/slide2.jpg' %}" alt=""></li>		
			<li><img src="{% static 'blog/img/slide4.jpg' %}" alt=""></li>		
			<li><img src="{% static 'blog/img/slide3.jpg' %}" alt=""></li>		
			<li><img src="{% static 'blog/img/slide5.jpg' %}" alt=""></li>		
		</ul>		
	</div>		
		<script type="text/javascript">
		setTimeout(move, 15000);
		</script> 
		<!-- #bg -->
		<div id="bg">	
		<canvas id="garden">
		<c style="color: #FFF; text-shadow:2px 3px 3px #222; font-family:Microsoft YaHei; font-size:50px" >
你的浏览器过时了,试试其他浏览器吧!</c></canvas>		</div>	
	<!-- #time -->		
	<div id="time" >			
	<span id="show"></span>			
	<script type="text/javascript">	
	function showTime() { 
	var currentDate = new Date(); 
	var startDate = new Date(2017,06,06);
	var date3 = currentDate-startDate;
	var days=Math.floor(date3/(24*3600*1000));
	var leave1=date3%(24*3600*1000);     //计算天数后剩余的毫秒数
	var hours=Math.floor(leave1/(3600*1000));
	var leave2=leave1%(3600*1000);        //计算小时数后剩余的毫秒数
	var minutes=Math.floor(leave2/(60*1000));
	var leave3=leave2%(60*1000);          //计算分钟数后剩余的毫秒数
	var seconds=Math.round(leave3/1000);
	if (minutes < 10) 
	minutes = "0" + minutes; 
	if (seconds < 10) 
	seconds = "0" + seconds; 
	var currentTimeString = "Dear 小红:<br>"
		+ "I have been in love with you for:<br> "
		+ "&nbsp&nbsp&nbsp&nbsp&nbsp"
		+ "<c style=\"color: #CCFF99; text-shadow:2px 3px 3px #222; font-family:Microsoft YaHei; font-size:24px\" >" + days +" </c>day " 
		+ "<c style=\"color: #CCFF99; text-shadow:2px 3px 3px #222; font-family:Microsoft YaHei; font-size:24px\" >" + hours+" </c>hour "
		+"<c style=\"color: #CCFF99; text-shadow:2px 3px 3px #222; font-family:Microsoft YaHei; font-size:24px\" >" + minutes+" </c>min "
		+"<c style=\"color: #CCFF99; text-shadow:2px 3px 3px #222; font-family:Microsoft YaHei; font-size:24px\" >" +seconds+" </c>sec<br>"
		+ "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp只愿执子之手,与子偕老..<br>"
		+ "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"
		+	"<c style=\"color: #CCCCCC; text-shadow:2px 3px 3px #222; font-family:Microsoft YaHei; font-size:20px\" >---- 爱你的小明</c>"; 
	document.getElementById("show").innerHTML=currentTimeString;  //改这地方
	window.setTimeout("showTime()", 1000); 
} 

	setTimeout("showTime()", 40000);			
	</script>	
	</div>
<!--	<div align="center">
	<div style="width: 400px; height:500px; background: url(https://ai.bbai520.com/love/img/iali68.jpg);">
		<c style="
				color: #ff0000;
				font-size: 48px;
				text-shadow: 3px 3px 3px #666666;
				font-family:STXihei,"Microsoft YaHei";
				text-align:center;
			" >生日快乐!</c>
		<!--<h2 style="text-align:center">情人节快乐</h2>
	</div>
	</div>
	<script type="text/javascript">
		setTimeout(move, 15000);
	</script> --> 
	<!-- #footer-->
	
	<div id="footer">			 
<div align="center">
<audio src="{% static 'blog/music/love.mp3' %}" preload controls autoplay loop>
Your browser does not support the audio element.
</audio>
<style="background-color:#FFA500;clear:both;text-align:center;">按键盘 "↓" 进入下一页</style></div>
</div>
<link rel="stylesheet" href="https://ai.bbai520.com/love/css/all.min.css">
</head>
<body>
	<div class="flowtime">
		<div class="ft-section">
			<div id="/section-1/page-1" class="ft-page page-1" data-id="page-1">
				<p class="text1">小宝贝我❤你一生一世</p>
			</div>
			<div class="ft-page full-img" data-id="page-2">
				<h3>愿得一人心，白首不相离</h3>
				<img src="{% static 'blog/img/iali20.jpg' %}" alt="愿得一人心，白首不相离" />
			</div>

			<div class="ft-page page-53" data-id="page-3">
				<img src="{% static 'blog/img/iali68.jpg' %}" alt="生日快乐" />
				<h3>生日快乐</h3>
			</div>
			<div   class="ft-page page-53" data-id="page-2">
				<img src="{% static 'blog/img/iali68.jpg' %}" alt="生日快乐" />
				<h3>生日快乐</h3>
			</div>
		</div>
	</div>
	
	<div class="nojavascript">您的浏览器版本太低或禁用了javascript，无法正常浏览本页面</div>
	
	
	<!--<script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>-->
	<script src="{% static 'blog/js/all.min.js' %}"></script>
	<script src="{% static 'blog/js/love.min.js' %}"></script>		
</body>
</html>